<div class="row">
  <h1 class="display-4"><span>Welcome to the Test Page!</span></h1>

  <!-- Main wrapper for the calendar application -->
  <div id="CustomPage" class="wrapper">
    <h1>Dynamic Calendar</h1>
    <!-- Next 5 Closest events -->
    <div id="upcoming-events-section">
      <h3>Upcoming Events</h3>
      <ul id="UpEventsList"></ul>
    </div>

    <!-- Interactive Calander -->
    <div class="button-container-calendar">
      <button id="previous" onclick="previous()">‹</button>
      <h3 id="monthAndYear"></h3>
      <button id="next" onclick="next()">›</button>
    </div>

    <table class="table-calendar" id="calendar" data-lang="en">
      <thead id="thead-month"></thead>
      <!-- Table body for displaying the calendar -->
      <tbody id="calendar-body"></tbody>
    </table>
    <div class="footer-container-calendar">
      <label for="month">Jump To: </label>
      <!-- Dropdowns to select a specific month and year -->
      <select id="month" onchange="jump()">
        <option value="0">Jan</option>
        <option value="1">Feb</option>
        <option value="2">Mar</option>
        <option value="3">Apr</option>
        <option value="4">May</option>
        <option value="5">Jun</option>
        <option value="6">Jul</option>
        <option value="7">Aug</option>
        <option value="8">Sep</option>
        <option value="9">Oct</option>
        <option value="10">Nov</option>
        <option value="11">Dec</option>
      </select>
      <!-- Dropdown to select a specific year -->
      <select id="year" onchange="jump()"></select>
    </div>

    <!-- Event selector for date as chosen by the interactive calander -->
    <div id="reminder-section">
      <h3>Reminders</h3>

      <ul id="reminderList">
        <li data-event-id="1">
          <strong>Event Title</strong>
          - Event Description on Event Date
        </li>
      </ul>
    </div>
  </div>
  <!-- Include the JavaScript file for the calendar functionality -->
  <script>
    function JSMain() {
      console.log('Debug 1');
    }
    JSMain();
  </script>
</div>
